/* Base */

* {
    box-sizing: border-box;
}

html {
    font-family: Arial, serif;
}

body {
    margin: 0;
    padding: 10px;
}

/*
            LAYOUT
*/

.main-layout-grid {
    display: grid;
    grid-gap: 5px;
    grid-template-areas: "header header" "main aside" "footer footer";
    grid-template-columns: 3fr 1fr;
}

/*
            HEADER
*/

header {
    grid-area: header;
    background-color: rgb(82, 78, 78);
    height: 10vh;
    padding: 20px;
    color: white;
    border: 2px solid gold;
}

.home {
    margin-left: 20px;
}

.main-nav span:hover, .main-logo:hover {
    color: gold;
}

/*
            GALLERY AREA
*/

.gallery-grid-container {
    display: grid;
    grid-area: main;
    justify-items: start;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.img-gallery {
    border: 1px solid black;
    width: 250px;
    height: 250px;
}

/*
            ASIDE AREA
*/

aside {
    grid-area: aside;
    background-color: rgb(82, 78, 78);
    padding: 20px;
    color: white;
    border: 2px solid gold;
}

.word-selector-container {
    padding: 10px;
    border: 1px solid gold;
    color: white;
}

.keword {
    /* border:1px solid white; */
    padding-top: 10px;
    margin: 10px;
    cursor: pointer;
}

.keyword-option {
    border: 1px solid gold;
    background-color:rgba(0,0,0,.6);
    color:white;
    text-align: center;
    margin-bottom: 2px;
}

.keyword-option:hover {
    border: 2px solid gold;
    background-color:rgba(0,0,0,.2);
    color:white;
    text-align: center;
    cursor: pointer;
}
/*
            FOOTER AREA
*/

footer {
    grid-area: footer;
    background-color: rgb(82, 78, 78);
    height: 10vh;
    padding: 20px;
    color: white;
    border: 2px solid gold;
}

/*   Helpers   */

.space-between {
    justify-content: space-between;
}

.flex {
    display: flex;
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}